<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="mb-3 row">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label
                    ">Enter the query</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="row ">
            <div class="col">
                <h3>Results</h3>
                <ul class="list-group   ">
                    <li class="list-group">Result 1</li>
                    <li class="list-group">Result 2</li>
                </ul>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
                <script>
                    document.querySelector('form').addEventListener('submit', (e) => {
                        e.preventDefault();
                        const query = encodeURI(document.querySelector('input').value);
                        fetch(`/search/${query}`)
                            .then(response => response.json())
                            .then(data => {
                                const ul = document.querySelector('ul');
                                ul.innerHTML = '';
                                data.forEach(result => {
                                    const li = document.createElement('li');
                                    li.classList.add('list-group-item');
                                    li.innerHTML = `<a href="/view/${encodeURI(result["name"])}">${result["name"].split(".")[1]}</a>`;
                                    ul.appendChild(li);
                                });
                            });
                    });
                </script>
</body>

</html>